<strong>Olá, {{ deliveryman }}</strong>
<p>Cancelamos uma encomenda após o registro de um problema</p>

<strong>Descrição do problema: </strong><br />
<p>
  {{ description }}
</p>
<strong>Detalhes da entrega:</strong><br />
<p>
  <strong>Produto: </strong>{{ product }}.<br />
  <strong>Data Retirada: </strong>{{startDate}}.<br/ >
</p>